In [10]:
import pandas as pd

In [13]:
df = pd.read_csv("/kaggle/input/student-depression-dataset/Student Depression Dataset.csv")

In [15]:
tempdict = {'col1' : [1,2,3], 'col2' : [4,5,6], 'col3' : [7,8,9]}
dictdf = pd.DataFrame.from_dict(tempdict)

In [16]:
df.head(10)

,id,Gender,Age,City,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,2,Male,33.0,Visakhapatnam,Student,5.0,0.0,8.97,2.0,0.0,5-6 hours,Healthy,B.Pharm,Yes,3.0,1.0,No,1
1,8,Female,24.0,Bangalore,Student,2.0,0.0,5.90,5.0,0.0,5-6 hours,Moderate,BSc,No,3.0,2.0,Yes,0
2,26,Male,31.0,Srinagar,Student,3.0,0.0,7.03,5.0,0.0,Less than 5 hours,Healthy,BA,No,9.0,1.0,Yes,0
3,30,Female,28.0,Varanasi,Student,3.0,0.0,5.59,2.0,0.0,7-8 hours,Moderate,BCA,Yes,4.0,5.0,Yes,1
4,32,Female,25.0,Jaipur,Student,4.0,0.0,8.13,3.0,0.0,5-6 hours,Moderate,M.Tech,Yes,1.0,1.0,No,0
5,33,Male,29.0,Pune,Student,2.0,0.0,5.70,3.0,0.0,Less than 5 hours,Healthy,PhD,No,4.0,1.0,No,0
6,52,Male,30.0,Thane,Student,3.0,0.0,9.54,4.0,0.0,7-8 hours,Healthy,BSc,No,1.0,2.0,No,0
7,56,Female,30.0,Chennai,Student,2.0,0.0,8.04,4.0,0.0,Less than 5 hours,Unhealthy,Class 12,No,0.0,1.0,Yes,0
8,59,Male,28.0,Nagpur,Student,3.0,0.0,9.79,1.0,0.0,7-8 hours,Moderate,B.Ed,Yes,12.0,3.0,No,1
9,62,Male,31.0,Nashik,Student,2.0,0.0,8.38,3.0,0.0,Less than 5 hours,Moderate,LLB,Yes,2.0,5.0,No,1

In [17]:
dictdf.head()

   col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6     9

In [18]:
df.tail()

,id,Gender,Age,City,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
27896,140685,Female,27.0,Surat,Student,5.0,0.0,5.75,5.0,0.0,5-6 hours,Unhealthy,Class 12,Yes,7.0,1.0,Yes,0
27897,140686,Male,27.0,Ludhiana,Student,2.0,0.0,9.40,3.0,0.0,Less than 5 hours,Healthy,MSc,No,0.0,3.0,Yes,0
27898,140689,Male,31.0,Faridabad,Student,3.0,0.0,6.61,4.0,0.0,5-6 hours,Unhealthy,MD,No,12.0,2.0,No,0
27899,140690,Female,18.0,Ludhiana,Student,5.0,0.0,6.88,2.0,0.0,Less than 5 hours,Healthy,Class 12,Yes,10.0,5.0,No,1
27900,140699,Male,27.0,Patna,Student,4.0,0.0,9.24,1.0,0.0,Less than 5 hours,Healthy,BCA,Yes,2.0,3.0,Yes,1

In [19]:
df.columns

Index(['id', 'Gender', 'Age', 'City', 'Profession', 'Academic Pressure',
       'Work Pressure', 'CGPA', 'Study Satisfaction', 'Job Satisfaction',
       'Sleep Duration', 'Dietary Habits', 'Degree',
       'Have you ever had suicidal thoughts ?', 'Work/Study Hours',
       'Financial Stress', 'Family History of Mental Illness', 'Depression'],
      dtype='object')

In [20]:
df.dtypes

id                                         int64
Gender                                    object
Age                                      float64
City                                      object
Profession                                object
Academic Pressure                        float64
Work Pressure                            float64
CGPA                                     float64
Study Satisfaction                       float64
Job Satisfaction                         float64
Sleep Duration                            object
Dietary Habits                            object
Degree                                    object
Have you ever had suicidal thoughts ?     object
Work/Study Hours                         float64
Financial Stress                         float64
Family History of Mental Illness          object
Depression                                 int64
dtype: object

In [22]:
df.describe()

,id,Age,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Work/Study Hours,Financial Stress,Depression
count,27901.000000,27901.000000,27901.000000,27901.000000,27901.000000,27901.000000,27901.000000,27901.000000,27898.000000,27901.000000
mean,70442.149421,25.822300,3.141214,0.000430,7.656104,2.943837,0.000681,7.156984,3.139867,0.585499
std,40641.175216,4.905687,1.381465,0.043992,1.470707,1.361148,0.044394,3.707642,1.437347,0.492645
min,2.000000,18.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000
25%,35039.000000,21.000000,2.000000,0.000000,6.290000,2.000000,0.000000,4.000000,2.000000,0.000000
50%,70684.000000,25.000000,3.000000,0.000000,7.770000,3.000000,0.000000,8.000000,3.000000,1.000000
75%,105818.000000,30.000000,4.000000,0.000000,8.920000,4.000000,0.000000,10.000000,4.000000,1.000000
max,140699.000000,59.000000,5.000000,5.000000,10.000000,5.000000,4.000000,12.000000,5.000000,1.000000

In [23]:
df.describe(include = "object")

,Gender,City,Profession,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Family History of Mental Illness
count,27901,27901,27901,27901,27901,27901,27901,27901
unique,2,52,14,5,4,28,2,2
top,Male,Kalyan,Student,Less than 5 hours,Unhealthy,Class 12,Yes,No
freq,15547,1570,27870,8310,10317,6080,17656,14398

In [24]:
df.Gender

0          Male
1        Female
2          Male
3        Female
4        Female
          ...
27896    Female
27897      Male
27898      Male
27899    Female
27900      Male
Name: Gender, Length: 27901, dtype: object

In [25]:
df.City

0        Visakhapatnam
1            Bangalore
2             Srinagar
3             Varanasi
4               Jaipur
             ...
27896            Surat
27897         Ludhiana
27898        Faridabad
27899         Ludhiana
27900            Patna
Name: City, Length: 27901, dtype: object

In [26]:
df.Profession

0        Student
1        Student
2        Student
3        Student
4        Student
          ...
27896    Student
27897    Student
27898    Student
27899    Student
27900    Student
Name: Profession, Length: 27901, dtype: object

In [28]:
df['Sleep Duration']

0                5-6 hours
1                5-6 hours
2        Less than 5 hours
3                7-8 hours
4                5-6 hours
               ...
27896            5-6 hours
27897    Less than 5 hours
27898            5-6 hours
27899    Less than 5 hours
27900    Less than 5 hours
Name: Sleep Duration, Length: 27901, dtype: object

In [29]:
df['Dietary Habits']

0          Healthy
1         Moderate
2          Healthy
3         Moderate
4         Moderate
           ...
27896    Unhealthy
27897      Healthy
27898    Unhealthy
27899      Healthy
27900      Healthy
Name: Dietary Habits, Length: 27901, dtype: object

In [31]:
df['Have you ever had suicidal thoughts ?']

0        Yes
1         No
2         No
3        Yes
4        Yes
        ...
27896    Yes
27897     No
27898     No
27899    Yes
27900    Yes
Name: Have you ever had suicidal thoughts ?, Length: 27901, dtype: object

In [34]:
df[['Gender', 'Degree', 'Dietary Habits', 'Family History of Mental Illness']]

       Gender    Degree Dietary Habits Family History of Mental Illness
0        Male   B.Pharm        Healthy                               No
1      Female       BSc       Moderate                              Yes
2        Male        BA        Healthy                              Yes
3      Female       BCA       Moderate                              Yes
4      Female    M.Tech       Moderate                               No
...       ...       ...            ...                              ...
27896  Female  Class 12      Unhealthy                              Yes
27897    Male       MSc        Healthy                              Yes
27898    Male        MD      Unhealthy                               No
27899  Female  Class 12        Healthy                               No
27900    Male       BCA        Healthy                              Yes

[27901 rows x 4 columns]

In [35]:
df.Gender.unique()

array(['Male', 'Female'], dtype=object)

In [36]:
df.Degree.unique()

array(['B.Pharm', 'BSc', 'BA', 'BCA', 'M.Tech', 'PhD', 'Class 12', 'B.Ed',
       'LLB', 'BE', 'M.Ed', 'MSc', 'BHM', 'M.Pharm', 'MCA', 'MA', 'B.Com',
       'MD', 'MBA', 'MBBS', 'M.Com', 'B.Arch', 'LLM', 'B.Tech', 'BBA',
       'ME', 'MHM', 'Others'], dtype=object)

In [37]:
df['Dietary Habits'].unique()

array(['Healthy', 'Moderate', 'Unhealthy', 'Others'], dtype=object)

In [38]:
df['Family History of Mental Illness'].unique()

array(['No', 'Yes'], dtype=object)

In [39]:
df.head()

,id,Gender,Age,City,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,2,Male,33.0,Visakhapatnam,Student,5.0,0.0,8.97,2.0,0.0,5-6 hours,Healthy,B.Pharm,Yes,3.0,1.0,No,1
1,8,Female,24.0,Bangalore,Student,2.0,0.0,5.90,5.0,0.0,5-6 hours,Moderate,BSc,No,3.0,2.0,Yes,0
2,26,Male,31.0,Srinagar,Student,3.0,0.0,7.03,5.0,0.0,Less than 5 hours,Healthy,BA,No,9.0,1.0,Yes,0
3,30,Female,28.0,Varanasi,Student,3.0,0.0,5.59,2.0,0.0,7-8 hours,Moderate,BCA,Yes,4.0,5.0,Yes,1
4,32,Female,25.0,Jaipur,Student,4.0,0.0,8.13,3.0,0.0,5-6 hours,Moderate,M.Tech,Yes,1.0,1.0,No,0

In [42]:
df[df['CGPA']>7.0]

,id,Gender,Age,City,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
0,2,Male,33.0,Visakhapatnam,Student,5.0,0.0,8.97,2.0,0.0,5-6 hours,Healthy,B.Pharm,Yes,3.0,1.0,No,1
2,26,Male,31.0,Srinagar,Student,3.0,0.0,7.03,5.0,0.0,Less than 5 hours,Healthy,BA,No,9.0,1.0,Yes,0
4,32,Female,25.0,Jaipur,Student,4.0,0.0,8.13,3.0,0.0,5-6 hours,Moderate,M.Tech,Yes,1.0,1.0,No,0
6,52,Male,30.0,Thane,Student,3.0,0.0,9.54,4.0,0.0,7-8 hours,Healthy,BSc,No,1.0,2.0,No,0
7,56,Female,30.0,Chennai,Student,2.0,0.0,8.04,4.0,0.0,Less than 5 hours,Unhealthy,Class 12,No,0.0,1.0,Yes,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27891,140645,Female,28.0,Thane,Student,4.0,0.0,7.77,3.0,0.0,Less than 5 hours,Unhealthy,MSc,No,2.0,5.0,No,1
27892,140669,Female,20.0,Indore,Student,3.0,0.0,7.72,5.0,0.0,Less than 5 hours,Moderate,Class 12,Yes,8.0,1.0,No,0
27895,140684,Male,31.0,Lucknow,Student,2.0,0.0,7.27,5.0,0.0,7-8 hours,Moderate,B.Com,Yes,6.0,1.0,Yes,0
27897,140686,Male,27.0,Ludhiana,Student,2.0,0.0,9.40,3.0,0.0,Less than 5 hours,Healthy,MSc,No,0.0,3.0,Yes,0
27900,140699,Male,27.0,Patna,Student,4.0,0.0,9.24,1.0,0.0,Less than 5 hours,Healthy,BCA,Yes,2.0,3.0,Yes,1

In [52]:
df[(df['Gender'] == 'Female') & (df['Study Satisfaction'] > 3.0) & (df['CGPA'] > 7.0) & (df['Age'] < 23)]

,id,Gender,Age,City,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
13,100,Female,19.0,Rajkot,Student,2.0,0.0,8.52,4.0,0.0,Less than 5 hours,Unhealthy,Class 12,No,6.0,2.0,Yes,0
25,176,Female,20.0,Mumbai,Student,5.0,0.0,8.58,5.0,0.0,7-8 hours,Moderate,Class 12,No,2.0,2.0,Yes,1
110,595,Female,18.0,Delhi,Student,5.0,0.0,9.79,5.0,0.0,Less than 5 hours,Unhealthy,Class 12,Yes,10.0,5.0,Yes,1
123,668,Female,18.0,Vasai-Virar,Student,5.0,0.0,9.44,4.0,0.0,More than 8 hours,Unhealthy,Class 12,Yes,3.0,5.0,No,1
132,696,Female,18.0,Varanasi,Student,3.0,0.0,9.86,4.0,0.0,More than 8 hours,Healthy,Class 12,Yes,9.0,2.0,No,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27858,140438,Female,18.0,Ludhiana,Student,3.0,0.0,8.24,4.0,0.0,5-6 hours,Healthy,Class 12,No,6.0,5.0,Yes,1
27873,140522,Female,22.0,Vasai-Virar,Architect,3.0,0.0,9.13,4.0,0.0,7-8 hours,Unhealthy,MCA,Yes,4.0,1.0,Yes,1
27885,140597,Female,19.0,Mumbai,Student,2.0,0.0,9.21,5.0,0.0,5-6 hours,Unhealthy,Class 12,Yes,3.0,2.0,No,0
27886,140601,Female,22.0,Jaipur,Student,5.0,0.0,9.25,4.0,0.0,More than 8 hours,Unhealthy,BBA,Yes,8.0,3.0,No,1
27892,140669,Female,20.0,Indore,Student,3.0,0.0,7.72,5.0,0.0,Less than 5 hours,Moderate,Class 12,Yes,8.0,1.0,No,0

In [53]:
df.iloc[13]

id                                                     100
Gender                                              Female
Age                                                   19.0
City                                                Rajkot
Profession                                         Student
Academic Pressure                                      2.0
Work Pressure                                          0.0
CGPA                                                  8.52
Study Satisfaction                                     4.0
Job Satisfaction                                       0.0
Sleep Duration                           Less than 5 hours
Dietary Habits                                   Unhealthy
Degree                                            Class 12
Have you ever had suicidal thoughts ?                   No
Work/Study Hours                                       6.0
Financial Stress                                       2.0
Family History of Mental Illness                       Yes
Depression                                               0
Name: 13, dtype: object

In [54]:
df.iloc[23]

id                                             172
Gender                                        Male
Age                                           23.0
City                                         Thane
Profession                                 Student
Academic Pressure                              1.0
Work Pressure                                  0.0
CGPA                                          8.59
Study Satisfaction                             4.0
Job Satisfaction                               0.0
Sleep Duration                           7-8 hours
Dietary Habits                             Healthy
Degree                                         BHM
Have you ever had suicidal thoughts ?           No
Work/Study Hours                              11.0
Financial Stress                               3.0
Family History of Mental Illness                No
Depression                                       0
Name: 23, dtype: object

In [55]:
df.iloc[2]

id                                                      26
Gender                                                Male
Age                                                   31.0
City                                              Srinagar
Profession                                         Student
Academic Pressure                                      3.0
Work Pressure                                          0.0
CGPA                                                  7.03
Study Satisfaction                                     5.0
Job Satisfaction                                       0.0
Sleep Duration                           Less than 5 hours
Dietary Habits                                     Healthy
Degree                                                  BA
Have you ever had suicidal thoughts ?                   No
Work/Study Hours                                       9.0
Financial Stress                                       1.0
Family History of Mental Illness                       Yes
Depression                                               0
Name: 2, dtype: object

In [56]:
df.iloc[2,3]

'Srinagar'

In [57]:
df.iloc[13,2]

19.0

In [61]:
df.iloc[2:10]

,id,Gender,Age,City,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
2,26,Male,31.0,Srinagar,Student,3.0,0.0,7.03,5.0,0.0,Less than 5 hours,Healthy,BA,No,9.0,1.0,Yes,0
3,30,Female,28.0,Varanasi,Student,3.0,0.0,5.59,2.0,0.0,7-8 hours,Moderate,BCA,Yes,4.0,5.0,Yes,1
4,32,Female,25.0,Jaipur,Student,4.0,0.0,8.13,3.0,0.0,5-6 hours,Moderate,M.Tech,Yes,1.0,1.0,No,0
5,33,Male,29.0,Pune,Student,2.0,0.0,5.70,3.0,0.0,Less than 5 hours,Healthy,PhD,No,4.0,1.0,No,0
6,52,Male,30.0,Thane,Student,3.0,0.0,9.54,4.0,0.0,7-8 hours,Healthy,BSc,No,1.0,2.0,No,0
7,56,Female,30.0,Chennai,Student,2.0,0.0,8.04,4.0,0.0,Less than 5 hours,Unhealthy,Class 12,No,0.0,1.0,Yes,0
8,59,Male,28.0,Nagpur,Student,3.0,0.0,9.79,1.0,0.0,7-8 hours,Moderate,B.Ed,Yes,12.0,3.0,No,1
9,62,Male,31.0,Nashik,Student,2.0,0.0,8.38,3.0,0.0,Less than 5 hours,Moderate,LLB,Yes,2.0,5.0,No,1

In [60]:
df.iloc[13: 25]

,id,Gender,Age,City,Profession,Academic Pressure,Work Pressure,CGPA,Study Satisfaction,Job Satisfaction,Sleep Duration,Dietary Habits,Degree,Have you ever had suicidal thoughts ?,Work/Study Hours,Financial Stress,Family History of Mental Illness,Depression
13,100,Female,19.0,Rajkot,Student,2.0,0.0,8.52,4.0,0.0,Less than 5 hours,Unhealthy,Class 12,No,6.0,2.0,Yes,0
14,103,Female,19.0,Kalyan,Student,5.0,0.0,5.64,5.0,0.0,Less than 5 hours,Moderate,Class 12,Yes,4.0,5.0,Yes,1
15,106,Male,29.0,Srinagar,Student,3.0,0.0,8.58,3.0,0.0,More than 8 hours,Moderate,M.Tech,Yes,10.0,2.0,Yes,1
16,120,Male,25.0,Nashik,Student,5.0,0.0,6.51,2.0,0.0,Less than 5 hours,Unhealthy,M.Ed,Yes,2.0,5.0,Yes,1
17,132,Female,20.0,Ahmedabad,Student,5.0,0.0,7.25,3.0,0.0,5-6 hours,Healthy,Class 12,Yes,10.0,3.0,No,1
18,139,Male,19.0,Chennai,Student,2.0,0.0,7.83,2.0,0.0,7-8 hours,Unhealthy,Class 12,No,6.0,3.0,No,0
19,145,Male,25.0,Kalyan,Student,3.0,0.0,9.93,3.0,0.0,5-6 hours,Moderate,B.Ed,No,8.0,3.0,Yes,1
20,161,Male,29.0,Kolkata,Student,3.0,0.0,8.74,4.0,0.0,5-6 hours,Moderate,B.Ed,Yes,1.0,1.0,No,0
21,162,Male,29.0,Kolkata,Student,3.0,0.0,6.73,3.0,0.0,7-8 hours,Moderate,M.Tech,No,0.0,1.0,No,0
22,166,Female,25.0,Ahmedabad,Student,3.0,0.0,5.57,3.0,0.0,More than 8 hours,Unhealthy,MSc,Yes,10.0,5.0,No,1
23,172,Male,23.0,Thane,Student,1.0,0.0,8.59,4.0,0.0,7-8 hours,Healthy,BHM,No,11.0,3.0,No,0
24,173,Male,18.0,Bangalore,Student,4.0,0.0,7.10,3.0,0.0,More than 8 hours,Unhealthy,Class 12,Yes,11.0,5.0,Yes,1