In [5]:
import pandas as pd

In [6]:
df = pd.read_csv("/kaggle/input/diabetes-in-youth-vs-adult-in-india/diabetes_young_adults_india.csv")

In [7]:
df.head()

,ID,Age,Gender,Region,Family_Income,Family_History_Diabetes,Parent_Diabetes_Type,Genetic_Risk_Score,BMI,Physical_Activity_Level,...,Smoking,Alcohol_Consumption,Fasting_Blood_Sugar,HbA1c,Cholesterol_Level,Prediabetes,Diabetes_Type,Sleep_Hours,Stress_Level,Screen_Time
0,1,21,Male,North,2209393,No,NaN,6,31.4,Sedentary,...,Yes,No,95.6,9.5,163.3,Yes,NaN,7.7,7,6.8
1,2,18,Female,Central,387650,No,NaN,5,24.4,Active,...,No,No,164.9,5.0,169.1,Yes,NaN,7.9,8,6.0
2,3,25,Male,North,383333,No,NaN,6,20.0,Moderate,...,No,No,110.5,8.3,296.3,Yes,Type 1,7.6,8,4.6
3,4,22,Male,Northeast,2443733,No,NaN,4,39.8,Moderate,...,No,Yes,160.7,4.6,252.8,No,NaN,9.5,2,10.9
4,5,19,Male,Central,1449463,No,NaN,4,19.2,Moderate,...,No,Yes,73.7,5.3,252.3,No,NaN,6.4,2,1.3

In [13]:
result = df[(df["Age"] <= 19) & (df["Age"]>=15) & (df["Diabetes_Type"] == "Type 1")]
print(result.loc[:, ["Age", "Diabetes_Type"]])

       Age Diabetes_Type
19      16        Type 1
55      17        Type 1
69      16        Type 1
113     17        Type 1
145     16        Type 1
...    ...           ...
99663   17        Type 1
99681   18        Type 1
99712   16        Type 1
99849   19        Type 1
99999   18        Type 1

[2165 rows x 2 columns]

In [17]:
result2 = df[
    (df["Gender"] == "Female") & 
    (df["Age"] >= 15) & 
    (df["Age"] <= 19) & 
    ((df["Diabetes_Type"] == "Type 1") | (df["Diabetes_Type"] == "Type 2"))
]

# Print the selected columns
print(result2.loc[:, ["Gender", "Age", "Diabetes_Type"]])

       Gender  Age Diabetes_Type
19     Female   16        Type 1
28     Female   15        Type 2
37     Female   19        Type 2
52     Female   18        Type 2
55     Female   17        Type 1
...       ...  ...           ...
99923  Female   19        Type 2
99970  Female   15        Type 2
99973  Female   17        Type 2
99995  Female   19        Type 2
99999  Female   18        Type 1

[5515 rows x 3 columns]

In [18]:
df.isnull()

,ID,Age,Gender,Region,Family_Income,Family_History_Diabetes,Parent_Diabetes_Type,Genetic_Risk_Score,BMI,Physical_Activity_Level,...,Smoking,Alcohol_Consumption,Fasting_Blood_Sugar,HbA1c,Cholesterol_Level,Prediabetes,Diabetes_Type,Sleep_Hours,Stress_Level,Screen_Time
0,False,False,False,False,False,False,True,False,False,False,...,False,False,False,False,False,False,True,False,False,False
1,False,False,False,False,False,False,True,False,False,False,...,False,False,False,False,False,False,True,False,False,False
2,False,False,False,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,True,False,False,False,...,False,False,False,False,False,False,True,False,False,False
4,False,False,False,False,False,False,True,False,False,False,...,False,False,False,False,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,False,False,False,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,False,False
99996,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
99997,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
99998,False,False,False,False,False,False,True,False,False,False,...,False,False,False,False,False,False,True,False,False,False
99999,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [19]:
df.isnull().sum()

ID                             0
Age                            0
Gender                         0
Region                         0
Family_Income                  0
Family_History_Diabetes        0
Parent_Diabetes_Type       65097
Genetic_Risk_Score             0
BMI                            0
Physical_Activity_Level        0
Dietary_Habits                 0
Fast_Food_Intake               0
Smoking                        0
Alcohol_Consumption            0
Fasting_Blood_Sugar            0
HbA1c                          0
Cholesterol_Level              0
Prediabetes                    0
Diabetes_Type              74776
Sleep_Hours                    0
Stress_Level                   0
Screen_Time                    0
dtype: int64

In [36]:
df["Prone to depression"] = df["Diabetes_Type"].apply(lambda x: "Not Prone" if pd.isnull(x) else "Prone")

In [37]:
df.iloc[22:33]

,ID,Age,Gender,Region,Family_Income,Family_History_Diabetes,Parent_Diabetes_Type,Genetic_Risk_Score,BMI,Physical_Activity_Level,...,Alcohol_Consumption,Fasting_Blood_Sugar,HbA1c,Cholesterol_Level,Prediabetes,Diabetes_Type,Sleep_Hours,Stress_Level,Screen_Time,Prone to depression
22,23,16,Female,East,2424828,Yes,NaN,10,26.2,Sedentary,...,No,89.0,9.5,224.7,No,NaN,4.8,8,7.0,Not Prone
23,24,19,Other,Central,1561481,No,NaN,6,23.5,Sedentary,...,No,165.9,8.9,211.3,No,NaN,8.6,2,8.7,Not Prone
24,25,15,Male,West,2106250,No,NaN,5,35.1,Sedentary,...,No,127.9,8.9,299.4,No,NaN,5.2,6,9.9,Not Prone
25,26,24,Female,South,867801,No,NaN,9,31.4,Sedentary,...,No,120.9,5.0,132.4,No,Type 2,6.2,9,3.2,Prone
26,27,20,Male,West,159841,No,NaN,2,39.2,Moderate,...,No,139.1,9.3,193.2,No,NaN,9.9,2,11.3,Not Prone
27,28,23,Female,West,286725,No,NaN,1,16.1,Sedentary,...,Yes,170.8,9.6,150.9,No,NaN,8.9,3,10.2,Not Prone
28,29,15,Female,West,1781800,Yes,NaN,10,18.8,Sedentary,...,No,133.1,8.0,187.2,No,Type 2,9.3,5,3.6,Prone
29,30,25,Male,South,422446,Yes,Type 1,10,21.9,Sedentary,...,No,150.0,7.3,130.4,Yes,Type 1,5.5,5,5.0,Prone
30,31,25,Male,North,1598840,No,Type 2,4,19.0,Active,...,No,128.9,5.0,134.5,Yes,NaN,4.5,4,11.1,Not Prone
31,32,24,Female,North,1657317,Yes,NaN,3,28.3,Sedentary,...,No,133.3,6.5,220.9,No,NaN,4.3,8,7.8,Not Prone
32,33,17,Male,East,1833943,No,NaN,7,35.2,Moderate,...,No,144.5,5.1,165.9,No,NaN,7.0,5,5.2,Not Prone